<!-- display the search field and the button to submit the search request to the server -->
<form method="GET" action="/movie">
  <input class="search" name="title" placeholder="Movie Title">
  <input class="button" type="submit" value="Find Movie">
</form>

<!-- display a the results for the search -->
<% if @movie_title %>
  <h2><%= @movie_title %></h2>
  <article>
    <section class="movieInfo">
      <p>
        <span class="label">Box Office</span>
        <span class="data"><%= @movie_info_hash["BoxOffice"] %></span>
      </p>
      <p>
        <span class="label">Year of Release</span>
        <span class="data"><%= @movie_info_hash['Year'] %></span>
      </p>
      <p>
        <span class="label">Rating</span>
        <span class="data"><%= @movie_info_hash['imdbRating'] %></span>
      </p>
      <p>
        <span class="label">Run Time</span>
        <span class="data"><%= @movie_info_hash['Runtime'] %></span>
      </p>
      <p>
        <span class="label">Director</span>
        <span class="data"><%= @movie_info_hash['Director'] %></span>
      </p>
      <p>
        <span class="label">Genre</span>
        <span class="data"><%= @movie_info_hash["Genre"] %></span>
      </p>
      <p>
        <span class="label">Cast</span>
        <span class="data"><%= @movie_info_hash["Actors"] %></span>
      </p>
      <p>
        <span class="label">Plot</span>
        <span class="data"><%= @movie_info_hash["Plot"] %></span>
      </p>
    </section>
    <aside>
      <img src='<%= @movie_info_hash['Poster'] %>'>
    </aside>
  </article>
<% else %>
  <p class="searchList">Sorry the movie could not be found by OMDB.</p>
<% end %>

<!-- where do you get the box office revenue? -->